html,body {
    height: 100%;
    margin: 0;
    font-family: "Tahoma", sans-serif;
    background-image: linear-gradient(to right top, #051937, #15355d, #235385, #2d75af, #3498db);
}

.container {
    align-items: center;
    display: flex;
    min-height: 100%;
    justify-content: space-around;
}

.block {
    display: inline-block;
    flex-shrink: 0;
    font-size: 40px;
    height: 200px;
    text-align: center;
    width: 200px;
}

.style-1 {
    background-image: linear-gradient(to right top, #227cc2, #009edd, #00bfee, #00e0f5, #00fff4);
    bottom: 0px;
    border-radius: 5px;
    color: white;
    /* opacity: .7; */
    position: relative;
    transition-property: all;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.style-1:hover {
    align-items: center;
    bottom: 25px;
    opacity: 1;
    transform: rotate(360deg);
}

.style-2 {
    align-items: center;
    background-color: #EEEFF2;
    border-radius: 5px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    position: relative;
}

.style-2:hover {
    animation-duration: 2s;
    animation-name: slideup;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slideup {
    from {
        bottom: 0px;
    }
    25% {
        bottom: 25px;
    }
    75% {
        bottom: -25px;
    }
    to {
        bottom: 0px;
    }
}

.style-3 {
    align-items: center;
    background-color: #687291;
    border: 4px solid white;
    color: white;
    display: flex;
    justify-content: center;
    transition-duration: 1s;
}

.style-3:hover {
    cursor: pointer;
}

.style-3:active {
    background-color: white;
    border: 4px solid #687291;
    color: #227CC2;
    filter: drop-shadow(0px 10px 5px gray);
}
